.icon-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(220, 53, 69, 0.1);
}

.modal-content {
    position: relative;
    z-index: 1050;
    background-color: rgb(14, 13, 13) !important;
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
    border-radius: 10px !important;
}

.text-danger {
    margin-top: 10px;
    font-size: 14px;
}

.modal-wrapper {
    position: relative;
}

.close-button {
    position: absolute;
    top: -77px;
    right: -77px;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: color 0.3s ease;
    z-index: 1060;
}

.close-button:hover {
    color: white;
}